<% @category.posts.each do |post| %>
  <div class="post">
    <div class="wrap-ut pull-left">
      <div class="userinfo pull-left">
        <div class="avatar">
          <%= image_tag "images/avatar.jpg" %>
        </div>

      </div>
      <div class="posttext pull-left">
        <%= link_to post.user.username, user_path(post.user) %>

        <h2><%= link_to post.title, post_path(post) %></a></h2>
        <%= post.description %>
        <hr>

        <p>Post created <%= time_ago_in_words post.created_at %> ago.</p>

      </div>
      <% if post.user == current_user %>
      <div class="clearfix" style="padding-left: 100px; padding-bottom: 20px;">
        <%= link_to "Edit", edit_post_path(post), class: "btn btn-xs btn-primary" %>
        <%= link_to "Delete", post_path(post), method: :delete,
                    data:{confirm: "Are you sure?"},
                    class: "btn btn-xs btn-danger" %>
      </div>
        <% end %>
    </div>
    <div class="postinfo pull-left">
      <div class="comments">
        <div class="commentbg">
          560
          <div class="mark"></div>
        </div>

      </div>
      <div class="views"><i class="fa fa-eye"></i> 1,568</div>
      <div class="time"><i class="fa fa-clock-o"></i> 24 min</div>
    </div>
    <div class="clearfix"></div>
  </div>
<% end %>